@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default ,cupcake, dark --prefersdark,night;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #38ccf5;
  --color-secondary: #d5e8f0;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #3adede;
  --color-secondary: #d5e8f0;
}

 